.img-album{
    max-width: 100%;
    max-height: 145px;
    max-width: 145px;
}

.container {
    border-radius: 5px;
    box-shadow: 0 1px 10px gray;
    width: 30vw; 
    height: 95vh; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 1%;
    /* background-image: radial-gradient(circle at 120.71% 50%, #000000 0, #000000 50%, #000000 100%); */
    /* background-image: radial-gradient(circle at 120.71% 50%, #00b019 0, #00b019 50%, #00b019 100%); */
}

.container {
    position: relative;
}

.cabecalhoAlbums{
    display: flex;
    justify-content: space-between;
}

#bnt-add{
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

.nomeAlbum {
    color: #000; 
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.nomeAlbum:hover {
    color: #198754; 
    text-decoration: none;
}

.player-controls {
    position: fixed;
    bottom: 50px; /* ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.player-controls button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.player-controls img {
    font-size: 100px;
    padding: 5px;
    border-radius: 50%;
    background-color: #f7f7f7;
    transition: all .2s;
}
.player-controls img:hover {
    background-color: rgb(173, 173, 173);
}

.player-controls img {
    margin: 0 30px; /* espaço entre as imagens */
}

.time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time span {
    font-size: 22px;
    color: #333;
}

.progress-bar {
    height: 8px;
    background-color: #ddd;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
}

.progress {
    height: 5px;
    background-color: #333;
    border-radius: 5px;
}

/* mobile */
@media only screen and (max-width: 767px) {
    .container {
        width: 100%; 
        padding-right: 0; 
        padding-left: 0; 
    }

    .img-album {
        width: 100%; /* 100% da largura do contêiner pai */
    }
}

@media only screen and (max-width: 340px) {
    .row {
        display: flex; 
        flex-direction: column;
    }

    .img-album {
        width: 100%;
    }
}
